$DOTFILES/scripts/git_branch_cleanup.zsh=$HOME/scripts/git_branch_cleanup.zsh
$DOTFILES/scripts/update_ssh_host.sh=$HOME/scripts/update_ssh_host.sh
$DOTFILES/scripts/git_acc_switcher.zsh=$HOME/scripts/git_acc_switcher.zsh
$DOTFILES/scripts/lazygit_generate_commit_message.zsh=$HOME/scripts/lazygit_generate_commit_message.zsh
$DOTFILES/scripts/lazygit_smart_open.zsh=$HOME/scripts/lazygit_smart_open.zsh
